.app {
  display: flex;
}

.app .appbar {
  margin-top: 0;
}

.main {
  flex: 1;
  position: relative;
}

.workspace {
  max-height: 90vh;
  padding-top: 10vh;
  padding-left: 10vw;
  padding-right: 10vw;
  overflow-y: auto;
}

.app,
body,
html {
  width: 100%;
  height: 100%;
  position: relative;
}

.app-wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #f5f8fa;
}

.app-wrapper.pt-dark {
  background-color: #293742;
}

.floating-overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  pointer-events: none;
}

.overlay-card {
  width: 300px;
  pointer-events: all;
}

.left-cards {
  position: absolute;
  left: 2em;
  top: 0;
}

.left-overlay-card {
  margin-top: 5em;
}

.legend-card {
  margin-top: 5em;
}

.right-overlay-card {
  right: 2em;
  top: 5em;
  position: absolute;
}

button.pt-fill.text-align-left {
  display: flex;
  justify-content: space-between;
}

button.pt-fill.text-align-left > .pt-icon-standard.pt-align-right {
  margin-top: 7px;
}

div.pt-card.sub-option {
  line-height: 30px;
}

td {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.import-preview-table {
  height: 200px;
  margin-bottom: 15px;
}

.import-dialog {
  line-height: 30px;
}

.pt-non-ideal-state {
  min-width: 600px;
}

.pt-non-ideal-state-action {
  min-width: 100%;
  text-align: center;
}

.pt-spinner {
  margin: 200px auto;
}

.gradient-preview {
  margin-top: 20px;
}

div.legends {
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: 1em;
  bottom: 1em;
}

div.legends .scale-legend {
  margin-right: 2em;
}

div.legends .scale-legend .vx-legend-shape {
  flex-grow: 1;
  align-items: center;
}

div.legends .scale-legend .vx-legend-item {
  justify-content: space-between;
}

div.legends .scale-legend .vx-legend-item .vx-legend-label {
  flex: none !important;
}

div.pt-card.sub-option.legend {
  width: 50%;
  overflow: hidden;
}

.transparent-frame {
  opacity: 0.9;
}

.node-details-table {
  overflow-x: auto;
  font-size: 0.4em;
  min-width: 400px;
  pointer-events: all;
}

.argo-menu-list-header {
  font-size: 1.5em;
  color: lightslategray;
  margin-bottom: 10px;
}
